/*****************************************************************/
/******************** STYLEGPT EXTENSION *************************/
/*****************************************************************/
/*
/* created by  Angelo & Alejo
/* from 	   https://pigeonposse.com
/*
/*****************************************************************/
/******************** STYLEGPT EXTENSION *************************/
/*****************************************************************/

/*****************************************************************/
/* GENERAL */
/*****************************************************************/
html {
	--pigeon-font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --pigeon-gradient: linear-gradient( 300deg, #3f8cce, #35b2cb, #22af50, #d7bf33, #ce2351, #8150fd, #4d4497);
    --pigeon-gradient-2: linear-gradient(90deg, rgba(253,236,210,1) 0%, rgba(255,211,233,1) 100%);
    --pigeon-border-gradient: linear-gradient(300deg, #3f8cce, #35b2cb, #22af50, #d7bf33, #ce2351, #8150fd, #4d4497) 1;
    --pigeon-bg-color: #202123;
    --pigeon-bg-color-2: #444655;
    --pigeon-bg-color-3: #4e4f5f;
    --pigeon-text-color: white;
    --pigeon-info-color: #3f8cce;
    --pigeon-warm-color: #edd85e;
    --pigeon-success-color: #359960;
    --pigeon-error-color: #b93440;
    --pigeon-radius: 30px;
    --pigeon-btn-radius: 20px;
    --pigeon-input-radius: 50px;
    --pigeon-circle: 100%;
}

html.light {
    --pigeon-bg-color: #f7f7f8;
    --pigeon-bg-color-2: #ffffff;
    --pigeon-bg-color-3: #f7f7f8;
}
header {
    box-shadow: none !important;
}

/*****************************************************************/
/* CHATGPT BODY SECTION */
/*****************************************************************/

/* NEW CHAT */

    /* containers */
    .md\:flex.items-start.text-center.gap-3\.5 {
        background: var(--pigeon-bg-color-2);
        padding: 20px;
        border-radius: var(--pigeon-radius);
        -webkit-border-radius: var(--pigeon-radius);
    }
    .flex.flex-col.items-center.text-sm.dark\:bg-gray-800 {
        margin: 0 75px !important;
    }
    /* btns */
    main [role="presentation"] form button[as="button"] {
        padding: 10px 20px;
    }
    div:is(> ul >li > button),
    div:has(> ul >li > button) {
        border-radius: var(--pigeon-input-radius) !important;
        -webkit-border-radius: var(--pigeon-input-radius) !important;
    }

    div > ul > li > button .rounded-lg {
        border-radius: var(--pigeon-input-radius) !important;
        -webkit-border-radius: var(--pigeon-input-radius) !important;
    }

/* CHAT PAGE */

    /* CHAT section */
    .dark .dark\:bg-gray-800,
    .flex-1.overflow-hidden > div > div,
    .flex.flex-col.text-sm.dark\:bg-gray-800,
    .flex.flex-col.text-sm.dark\:bg-gray-800 > div {
        background: none;
        background-color: transparent !important;
        border: none;
    }

    /* CHAT containers - CODE */
    .flex-1.overflow-hidden > div > div > div > div pre {
        border: 1px solid var(--gray-600);
        border-radius: var(--pigeon-btn-radius);
        -webkit-border-radius: var(--pigeon-btn-radius);
    }

    .flex-1.overflow-hidden > div > div > div > div pre:is(.hljs) > div,
    .flex-1.overflow-hidden > div > div > div > div pre:has(.hljs) > div {
        background: transparent !important;
    }
    .flex-1.overflow-hidden > div > div > div > div pre:not(.hljs) > div {
        background: black !important;
    }
    /* CHAT containers */
    .flex-1.overflow-hidden > div > div > div > div{
        border: none;
    }
    .flex-1.overflow-hidden > div > div > div > div > div{
        border-radius: var(--pigeon-radius);
        -webkit-border-radius: var(--pigeon-radius);
        padding-left: 20px;
        padding-right: 20px;
    }
    .flex-1.overflow-hidden > div > div > div > div:not(div.relative) > div{
        margin : 5px 80px !important;
    }

    /* CHAT - CONVERSATION SECTION */
        /* AI */
        .flex-1.overflow-hidden > div > div > div > div:nth-child(odd) > div {
            background: var(--pigeon-bg-color-2);
        }
        /* USRER */
        .flex-1.overflow-hidden > div > div > div > div:nth-child(even) > div {
            background: var(--pigeon-bg-color-3);
        }

    /* CHAT container - icons */
    .flex-1.overflow-hidden > div > div > div .lg\:self-center {
        margin: auto 20px;
    }

    /* CHAT container - paged nav div */
    .flex-1.overflow-hidden > div > div > div .text-xs.visible{
        padding: 2px 10px;
        border-radius: var(--pigeon-radius);
        -webkit-border-radius: var(--pigeon-radius);
        background: var(--pigeon-bg-color);
    }

    /* USER containers */
    html.light body:not(.pigeon-styles) .group.w-full.text-gray-800.dark\:text-gray-100.border-b.border-black\/10.dark\:border-gray-900\/50.dark\:bg-gray-800 {
        background: var(--pigeon-bg-color-3);
    }

/* regenerate btns, textarea, chat icons */
.btn-neutral,
.rounded-sm,
div:is(> textarea),
div:has(> textarea) {
    border-radius: var(--pigeon-input-radius) !important;
    -webkit-border-radius: var(--pigeon-input-radius) !important;
    overflow:hidden;
}
div:is(> textarea),
div:has(> textarea) {
    padding-left: 20px;
    padding-right: 20px;
}
form button.absolute.p-1.rounded-md.md\:bottom-3.md\:p-2.md\:right-3.dark\:hover\:bg-gray-900.dark\:disabled\:hover\:bg-transparent.right-2.gizmo\:dark\:disabled\:bg-white.gizmo\:disabled\:bg-black.gizmo\:disabled\:opacity-10.disabled\:text-gray-400.enabled\:bg-brand-purple.gizmo\:enabled\:bg-black.text-white.gizmo\:p-0\.5.gizmo\:border.gizmo\:border-black.gizmo\:rounded-lg.gizmo\:dark\:border-white.gizmo\:dark\:bg-white.bottom-1\.5.transition-colors.disabled\:opacity-40{
    border-radius: var(--pigeon-input-radius) !important;
    -webkit-border-radius: var(--pigeon-input-radius) !important;
}

/* btn scroll */
button.cursor-pointer.absolute.z-10.rounded-full.gizmo\:bg-clip-padding.border.text-gray-600.dark\:border-white\/10.dark\:bg-white\/10.dark\:text-gray-200.right-6.bottom-\[124px\].md\:bottom-\[180px\].gizmo\:md\:bottom-\[143px\].lg\:bottom-\[120px\].border-gray-200.bg-gray-50 {
    position: fixed;
    right: 12px;
    bottom: 50px;
}

/* chat textarea bg */
.absolute.bottom-0.left-0.w-full.border-t.md\:border-t-0.dark\:border-white\/20.md\:border-transparent.md\:dark\:border-transparent.md\:bg-vert-light-gradient.bg-white.dark\:bg-gray-800.md\:\!bg-transparent.dark\:md\:bg-vert-dark-gradient.pt-2 {
	background-image:none;
}
/* chat textarea - footer text */
.absolute.bottom-0.left-0.w-full.border-t.md\:border-t-0.dark\:border-white\/20.md\:border-transparent.md\:dark\:border-transparent.md\:bg-vert-light-gradient.bg-white.dark\:bg-gray-800.md\:\!bg-transparent.dark\:md\:bg-vert-dark-gradient.pt-2 span {
	text-shadow: rgb(0 0 0 / 84%) 0px 0px;
}

/*****************************************************************/
/* SIDEBAR NAV */
/*****************************************************************/

    nav > div {
        margin: 5px !important;
    }
    nav .rounded-md, 
    nav .rounded-lg:not([data-headlessui-state] .rounded-lg),
    nav [data-headlessui-state] button {
        border-radius: var(--pigeon-input-radius) !important;
        -webkit-border-radius: var(--pigeon-input-radius) !important;
    }
    div:is( > div > div > div > div > nav),
    div:has( > div > div > div > div > nav) {
        border-radius: var(--pigeon-btn-radius) !important;
        -webkit-border-radius: var(--pigeon-btn-radius) !important;
        margin:10px;
    }
    nav [data-headlessui-state] button {
        padding: 10px !important;
    }

/*****************************************************************/
/* STYLEGPT - BTNS */
/*****************************************************************/

    /*************************************************************/
    /* SECTION */
    /*************************************************************/
    .pigeon-menu-section {
        position: fixed;
        right: 14px;
        top: 300px; /*  for not block other elements */
        bottom: 300px; /*  for not block other elements */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*************************************************************/
    /* MENU BTNS */
    /*************************************************************/
    .pigeon-form-btn {
        padding: 10px;
        border-radius: var(--pigeon-circle);
        -webkit-border-radius: var(--pigeon-circle);
        margin-top: 0.5rem;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    /*************************************************************/
    /* STYLES MENU */
    /*************************************************************/

    /* container */
    .pigeon-styles-menu {
        display: none !important;
    }

    .pigeon-styles-menu.active {
        position: absolute;
        right: calc(100% + 10px);
        top: auto;
        bottom: auto;
        height: fit-content;
        width: max-content;
        margin: auto 0;
        border-radius: var(--pigeon-radius);
        -webkit-border-radius: var(--pigeon-radius);
        padding: 5px 20px;
        z-index: 9999;
        display:flex !important;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items: flex-end;
    }

    /* section */
    .pigeon-menu-container-section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: 6px 0;
    }

    /* RESET section */
    .pigeon-menu-container-section.reset {
        justify-content: flex-end;
    }

    .pigeon-menu-container-section.line {
        width: 100%;
        background: var(--pigeon-bg-color-3);
        height: 2px;
        margin: 20px 0;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .pigeon-menu-container-section-group {
        width: 100%;
        margin: 10px 0;
    }
    .pigeon-menu-container-group.options {
        display: flex;
        margin-right: 0px;
    }

    .pigeon-menu-container-group {
        margin: 0 5px;
    }
    .pigeon-menu-container-group.title h2{
        font-size: 13px;
        font-weight: 600;
    }

    /* INPUTS */
    .pigeon-styles-menu input {
        font-size: 15px;
        border-radius: var(--pigeon-input-radius);
        -webkit-border-radius: var(--pigeon-input-radius);
    }

    /* URL INPUTS */
    .pigeon-url.error {
        box-shadow: 0 0 2px 1px var(--pigeon-error-color) !important;
    }
    .pigeon-url.success {
        box-shadow: 0 0 2px 1px var(--pigeon-success-color) !important;
    }
    .pigeon-menu-container-section input:focus {
        box-shadow: 0 0 2px 1px var(--pigeon-info-color);
    }


    /* SELECTS */
    .pigeon-menu-container-group.select {
        border-width: 1px;
        border-radius: var(--pigeon-input-radius);
        -webkit-border-radius: var(--pigeon-input-radius);
        overflow: auto;
        margin-right: 0;
    }
    .pigeon-select {
        border: none !important;
    }

    /* COLOR PICKERS */
    .pigeon-picker-color {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        width: 33px;
        height: 35px;
        margin: 0 !important;
        padding: 0 !important;
        border: none;
        cursor: pointer;
        border-radius: var(--pigeon-circle);
        -webkit-border-radius: var(--pigeon-circle);
    }

    input[type="color"]::-webkit-color-swatch,
    .pigeon-picker-color::-webkit-color-swatch {
        border-radius: var(--pigeon-circle);
        -webkit-border-radius: var(--pigeon-circle);
        border: none;
    }

    input[type="color"]::-moz-color-swatch,
    .pigeon-picker-color::-moz-color-swatch {
        border-radius: var(--pigeon-circle);
        -webkit-border-radius: var(--pigeon-circle);
        border: none;
    }

    /* BUTTONS */
    @media (max-width: 768px) {
        .pigeon-form-btn,
        .pigeon-menu-section {
            display: none;
        }

    }
    .pigeon-menu-btn {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        border-radius: var(--pigeon-input-radius);
        -webkit-border-radius: var(--pigeon-input-radius);
        cursor: pointer;
    }
    .pigeon-menu-btn h4 {
        margin-right: 10px;
    }

    .pigeon-menu-btn.toggle div{
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .pigeon-styles .pigeon-menu-btn.toggle .first {
        display: flex;
    }
    .pigeon-styles .pigeon-menu-btn.toggle .second {
        display: none;
    }
    .pigeon-menu-btn.toggle .first {
        display: none;
    }
    .pigeon-menu-btn.toggle .second {
        display: flex;
    }

    /*************************************************************/
    /* USER MENU */
    /*************************************************************/

    #pigeon-user-menu {
        position: relative;
    }
    #pigeon-user-menu-section {
        position: absolute;
        bottom: -100%;
        left: -240px;
        width: 230px;
    }
    #pigeon-user-menu-section > nav {
        display: block;
        border-radius: var(--pigeon-btn-radius);
        -webkit-border-radius: var(--pigeon-btn-radius);
        padding: 10px;
        text-align: start;
    }
    #pigeon-user-menu-section > nav a {
        border-radius: var(--pigeon-btn-radius);
        -webkit-border-radius: var(--pigeon-btn-radius);
    }

/*****************************************************************/
/******************** STYLEGPT EXTENSION *************************/
/*****************************************************************/