/*****************************************************************/
/******************** STYLEGPT EXTENSION *************************/
/*****************************************************************/
/*
/* created by  Angelo & Alejo
/* from 	   https://pigeonposse.com
/*
/*****************************************************************/
/******************** STYLEGPT EXTENSION *************************/
/*****************************************************************/

/*****************************************************************/
/* GENERAL */
/*****************************************************************/
html {
	--pigeon-font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --pigeon-gradient: linear-gradient( 300deg, #3f8cce, #35b2cb, #22af50, #d7bf33, #ce2351, #8150fd, #4d4497);
    --pigeon-gradient-2: linear-gradient(90deg, rgba(253,236,210,1) 0%, rgba(255,211,233,1) 100%);
    --pigeon-border-gradient: linear-gradient(300deg, #3f8cce, #35b2cb, #22af50, #d7bf33, #ce2351, #8150fd, #4d4497) 1;
    --pigeon-bg-color: var(--gray-900);
    --pigeon-bg-color-2: var(--gray-800);
    --pigeon-bg-color-3:  var(--gray-700);
    --pigeon-text-color: var(--text-primary);
    --pigeon-info-color: #3f8cce;
    --pigeon-warm-color: #edd85e;
    --pigeon-success-color: #359960;
    --pigeon-error-color: #b93440;
    --pigeon-radius: 30px;
    --pigeon-btn-radius: 20px;
    --pigeon-input-radius: 50px;
    --pigeon-circle: 100%;
    /* dynamics */
    --pigeon-conversation-ai-bg-color: var(--pigeon-bg-color-2);
    --pigeon-conversation-user-bg-color: var(--pigeon-bg-color-3);
    --pigeon-sidebar-bg-color: var(--pigeon-bg-color);
}

html.light {
    --pigeon-bg-color: var(--gray-100);
    --pigeon-bg-color-2: var(--gray-50);
    --pigeon-bg-color-3: var(--white);
}

/*****************************************************************/
/* CHATGPT BODY SECTION */
/*****************************************************************/

/* NEW CHAT */

    /* btns */
    main [role="presentation"] form button[as="button"] {
        padding: 10px 20px;
    }
    div:is(> ul >li > button),
    div:has(> ul >li > button) {
        border-radius: var(--pigeon-input-radius) !important;
        -webkit-border-radius: var(--pigeon-input-radius) !important;
    }

/* CHAT PAGE */

    /* HEADER CONTENT */
    .sticky.top-0.mb-1\.5.flex.items-center.justify-between.z-10.h-14.bg-white\/95.p-2.font-semibold.dark\:bg-gray-800\/90,
    .sticky.top-0.mb-1\.5.flex.items-center.justify-between.z-10.h-14.bg-white\/95.p-2.font-semibold.dark\:bg-gray-800\/90 > div {
        background: none;
        background-color: transparent !important;
        border: none;
    }
    .sticky.top-0.mb-1\.5.flex.items-center.justify-between.z-10.h-14.bg-white.p-2.font-semibold.dark\:bg-gray-800 {
        background-color: transparent !important;
    }
    /* CHAT - CONVERSATION SECTION */

        /* BG */
        #__next {
            background: var(--pigeon-conversation-bg-color);
            background-image: var(--pigeon-conversation-bg-img);
            background-repeat: no-repeat;
            background-position: center;
            background-size: var(--pigeon-conversation-bg-img-size);
        }

        /* all containers*/
        .flex-1.overflow-hidden > div > div > div > div > div[dir="auto"]{

            /* all */
            > div:not([type="button"]) {
                border-radius: var(--pigeon-radius);
                -webkit-border-radius: var(--pigeon-radius);
                margin: 5px 0;
                /* 
                border: none;
                padding: 20px; 
                box-sizing: content-box;

                > div{
                    overflow-x: scroll;
                }
                */
                div pre {
                    border: 1px solid var(--gray-600);
                    border-radius: var(--pigeon-btn-radius);
                    -webkit-border-radius: var(--pigeon-btn-radius);
                }
            }
            /* USER */
            > div:not(.relative.p-1.rounded-sm.h-9.w-9.text-white.flex.items-center.justify-center svg) {
                background: var(--pigeon-bg-color-3);
            }
            /* AI */
            > div:has(.relative.p-1.rounded-sm.h-9.w-9.text-white.flex.items-center.justify-center svg),
            > div:is(.relative.p-1.rounded-sm.h-9.w-9.text-white.flex.items-center.justify-center svg) {
                background: var(--pigeon-bg-color-2);
            }
        }
    
        .pigeon-styles .flex-1.overflow-hidden > div > div > div > div > div[dir="auto"] {
            /* USER */
            > div:not(.relative.p-1.rounded-sm.h-9.w-9.text-white.flex.items-center.justify-center svg) {
                background: var(--pigeon-conversation-user-bg-color);
                color: var(--pigeon-conversation-user-color);
                font-family: var(--pigeon-conversation-user-font);

                div > p,
                div > code,
                div > p > code,
                div > ul > li,
                div > span,
                div > b,
                div > i {
                    color: var(--pigeon-conversation-user-color);
                }
            }
            /* AI */
            > div:has(.relative.p-1.rounded-sm.h-9.w-9.text-white.flex.items-center.justify-center svg),
            > div:is(.relative.p-1.rounded-sm.h-9.w-9.text-white.flex.items-center.justify-center svg) {
                background: var(--pigeon-conversation-ai-bg-color);
                color: var(--pigeon-conversation-ai-color);
                font-family: var(--pigeon-conversation-ai-font);

                div > p,
                div > li,
                div > p > code,
                div > ul > li,
                div > span,
                div > b,
                div > i {
                    color: var(--pigeon-conversation-ai-color);
                }
            }
        }


    /* regenerate btns, textarea, chat icons */
    .btn-neutral,
    .rounded-sm,
    div:is(> textarea),
    div:has(> textarea) {
        border-radius: var(--pigeon-input-radius) !important;
        -webkit-border-radius: var(--pigeon-input-radius) !important;
        overflow:hidden;
    }
    div:is(> textarea),
    div:has(> textarea) {
        padding-left: 20px;
        padding-right: 20px;
    }
    form button {
        border-radius: var(--pigeon-input-radius) !important;
        -webkit-border-radius: var(--pigeon-input-radius) !important;
    }

/*****************************************************************/
/* SIDEBAR NAV */
/*****************************************************************/

    div:is( > div.h-full > div > div > div > nav),
    div:has( > div.h-full > div > div > div > nav) {
        border-radius: var(--pigeon-btn-radius) !important;
        -webkit-border-radius: var(--pigeon-btn-radius) !important;
        margin:10px;
    }
    
    div:is( > div.h-full > div > div > div > nav) .pt-3\.5,
    div:has( > div.h-full > div > div > div > nav) .pt-3\.5 {
        background: transparent !important;
    }
        /* BTNS */
        nav .rounded-md, 
        nav .rounded-lg:not([data-headlessui-state] .rounded-lg),
        nav [data-headlessui-state] button {
            border-radius: var(--pigeon-input-radius) !important;
            -webkit-border-radius: var(--pigeon-input-radius) !important;
        }

    /* colored */    
    .pigeon-styles div:is( > div.h-full > div > div > div > nav),
    .pigeon-styles div:has( > div.h-full > div > div > div > nav) {
        background-color: var(--pigeon-sidebar-bg-color) !important;
        h3 {
            background-color: transparent !important;
            color: var(--pigeon-sidebar-bg-color) !important;
            filter: brightness(2); 
        }
    }
    
    .pigeon-styles nav li > a,
    .pigeon-styles nav div > a,
    .pigeon-styles nav div > button {
        background: transparent !important;
        border-radius: var(--pigeon-input-radius) !important;
        -webkit-border-radius: var(--pigeon-input-radius) !important;
    }
    .pigeon-styles nav li > a:hover,
    .pigeon-styles nav div > a:hover,
    .pigeon-styles nav div > button:hover,
    .pigeon-styles nav div > a.bg-token-surface-primary {
        background-color: var(--pigeon-sidebar-bg-color) !important;
        filter: brightness(0.7);
        opacity: 0.7;
    }
    .pigeon-styles nav li a .dark\:from-gray-900,
    .pigeon-styles nav .bg-gradient-to-l.dark\:from-gray-800.from-gray-100 {
        --tw-gradient-from: transparent !important;
    }
    .pigeon-styles nav .dark .dark\:from-black,
    .pigeon-styles nav .to-transparent {
        background: transparent !important;
    }

/*****************************************************************/
/* STYLEGPT - BTNS */
/*****************************************************************/

    /*************************************************************/
    /* SECTION */
    /*************************************************************/
    .pigeon-menu-section {
        position: fixed;
        right: 14px;
        top: 300px; /*  for not block other elements */
        bottom: 300px; /*  for not block other elements */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*************************************************************/
    /* MENU BTNS */
    /*************************************************************/
    .pigeon-form-btn {
        padding: 10px;
        border-radius: var(--pigeon-circle);
        -webkit-border-radius: var(--pigeon-circle);
        margin-top: 0.5rem;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    /*************************************************************/
    /* STYLES MENU */
    /*************************************************************/

    /* container */
    .pigeon-styles-menu {
        display: none !important;
    }

    .pigeon-styles-menu.active {
        position: absolute;
        right: calc(100% + 10px);
        top: auto;
        bottom: auto;
        height: fit-content;
        width: max-content;
        margin: auto 0;
        border-radius: var(--pigeon-radius);
        -webkit-border-radius: var(--pigeon-radius);
        padding: 5px 20px;
        z-index: 9999;
        display:flex !important;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        align-items: flex-end;
    }

    /* section */
    .pigeon-menu-container-section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin: 6px 0;
    }

    /* RESET section */
    .pigeon-menu-container-section.reset {
        justify-content: flex-end;
    }

    .pigeon-menu-container-section.line {
        width: 100%;
        background: var(--gray-300);
        opacity: 0.5;
        height: 1px;
        margin: 20px 0;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .pigeon-menu-container-section-group {
        width: 100%;
        margin: 10px 0;
    }
    .pigeon-menu-container-group.options {
        display: flex;
        margin-right: 0px;
    }

    .pigeon-menu-container-group {
        margin: 0 5px;
    }
    .pigeon-menu-container-group.title h2{
        font-size: 13px;
        font-weight: 600;
    }

    /* INPUTS */
    .pigeon-styles-menu input {
        font-size: 15px;
        border-radius: var(--pigeon-input-radius);
        -webkit-border-radius: var(--pigeon-input-radius);
    }

    /* URL INPUTS */
    .pigeon-url.error {
        box-shadow: 0 0 2px 1px var(--pigeon-error-color) !important;
    }
    .pigeon-url.success {
        box-shadow: 0 0 2px 1px var(--pigeon-success-color) !important;
    }
    .pigeon-menu-container-section input:focus {
        box-shadow: 0 0 2px 1px var(--pigeon-info-color);
    }


    /* SELECTS */
    .pigeon-menu-container-group.select {
        border-width: 1px;
        border-radius: var(--pigeon-input-radius);
        -webkit-border-radius: var(--pigeon-input-radius);
        overflow: auto;
        margin-right: 0;
    }
    .pigeon-select {
        border: none !important;
    }

    /* COLOR PICKERS */
    .pigeon-picker-color {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        width: 33px;
        height: 35px;
        margin: 0 !important;
        padding: 0 !important;
        border: none;
        cursor: pointer;
        border-radius: var(--pigeon-circle);
        -webkit-border-radius: var(--pigeon-circle);
    }

    input[type="color"]::-webkit-color-swatch,
    .pigeon-picker-color::-webkit-color-swatch {
        border-radius: var(--pigeon-circle);
        -webkit-border-radius: var(--pigeon-circle);
        border: none;
    }

    input[type="color"]::-moz-color-swatch,
    .pigeon-picker-color::-moz-color-swatch {
        border-radius: var(--pigeon-circle);
        -webkit-border-radius: var(--pigeon-circle);
        border: none;
    }

    /* BUTTONS */
    @media (max-width: 768px) {
        .pigeon-form-btn,
        .pigeon-menu-section {
            display: none;
        }

    }
    .pigeon-menu-btn {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        border-radius: var(--pigeon-input-radius);
        -webkit-border-radius: var(--pigeon-input-radius);
        cursor: pointer;
    }
    .pigeon-menu-btn h4 {
        margin-right: 10px;
    }

    .pigeon-menu-btn.toggle div{
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .pigeon-styles .pigeon-menu-btn.toggle .first {
        display: flex;
    }
    .pigeon-styles .pigeon-menu-btn.toggle .second {
        display: none;
    }
    .pigeon-menu-btn.toggle .first {
        display: none;
    }
    .pigeon-menu-btn.toggle .second {
        display: flex;
    }

    /*************************************************************/
    /* USER MENU */
    /*************************************************************/

    #pigeon-user-menu {
        position: relative;
    }
    #pigeon-user-menu-section {
        position: absolute;
        bottom: -100%;
        left: -240px;
        width: 230px;
    }
    #pigeon-user-menu-section > nav {
        display: block;
        border-radius: var(--pigeon-btn-radius);
        -webkit-border-radius: var(--pigeon-btn-radius);
        padding: 10px;
        text-align: start;
    }
    #pigeon-user-menu-section > nav a {
        border-radius: var(--pigeon-btn-radius);
        -webkit-border-radius: var(--pigeon-btn-radius);
    }

    /*************************************************************/
    /* TIME - disabled */
    /*************************************************************/
    .pp-stylegpt-time {
        margin: 5px auto auto auto;
        font-size: 13px;
        /* height: 13px; */
    }
    .pp-stylegpt-time:hover span {
        display: initial;
    }
    .pp-stylegpt-time div{
        position: relative;
        width: fit-content;
        margin: auto;
    }
    .pp-stylegpt-time span{
        display:none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        background: black;
        color: white;
        padding: 3px 10px;
        box-sizing: content-box;
        border-radius: 10px;
    }

/*****************************************************************/
/******************** STYLEGPT EXTENSION *************************/
/*****************************************************************/