/*****************************************************************/
/* STYLES CHATGPT EXTENSION
/*
/* created  by angelo & alejo
/* from 	pigeonposse.com
/*
/*****************************************************************/

/*****************************************************************/
/* GENERAL */
/*****************************************************************/

.btn-neutral,
.rounded-sm,
div:has(> textarea) {
	border-radius: 50px !important;
}
/* content */
.flex.flex-col.items-center.text-sm.dark\:bg-gray-800 {
    margin: 0 75px !important;
}
.flex.flex-col.items-center.text-sm.dark\:bg-gray-800 > div{
    border-radius: 33px !important;
    border: none;
    padding-left: 20px !important;
}

/*****************************************************************/
/* BTNS STYLES */
/*****************************************************************/
@media (max-width: 768px) {
	.pigeon-form-btn,
	.pigeon-btn-section {
		display: none;
	}

}

.pigeon-form-btn {
    padding: 10px;
    border-radius: 100%;
    margin-top: 0.5rem;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*****************************************************************/
/* SIDEBAR */
/*****************************************************************/
.pigeon-sidebar .dark.hidden.bg-gray-900.md\:fixed.md\:inset-y-0.md\:flex.md\:w-\[260px\].md\:flex-col {
    display: none;
}

.pigeon-sidebar .flex.h-full.flex-1.flex-col.md\:pl-\[260px\] {
    padding-left: 0px;
}


/*****************************************************************/
/* STYLES SECTION */
/*****************************************************************/
.pigeon-styles-menu {
	display: none !important;
}

.pigeon-styles-menu.active {
    position: absolute;
    bottom: 0;
    left: -629px;
	border-radius: 30px;
    width: fit-content;
    padding: 5px 20px;
	z-index: 9999;
	display:flex !important;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-end;
}
.pigeon-btn-section {
    position: fixed;
    right: 14px;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* setctions */
.pigeon-styles-container-section {
	display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.pigeon-styles-container-section.line {
	width: 2px;
    background: rgb(53 55 63);
    height: 35px;
    border: none;
    border-radius: 5px;
}
.pigeon-styles-container-group {
	margin: 0 5px;
}
.pigeon-styles-container-group.title h2{
	font-size: 13px;
	font-weight: 600;
}
/* select input */
.pigeon-select {
	border: none !important;
}

/* color picker */
.pigeon-picker-color {
  	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	width: 33px;
	height: 35px;
	margin: 0 !important;
	padding: 0 !important;
	border: none;
	cursor: pointer;
}
.pigeon-picker-color::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
.pigeon-picker-color:-moz-color-swatch {
  border-radius: 50%;
  border: none;
}